* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(12, 12, 39);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  cursor: pointer;
}

.calculator {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(217, 217, 238);
  gap: 10px;
  /* layout */
  display: grid;
  grid-template-columns: repeat(4, minmax(70px, 1fr));
}
.buttons {
  height: 50px;
}
.output.full-width {
  min-height: 70px;
  width: 100%;
  grid-column: 1/5;

  border-radius: 10px;
  padding: 0 10px;

  background-color: rgb(148, 148, 187);

  display: grid;
  justify-items: end;
  align-items: center;
}

.full-width > p {
  width: 100%;
  text-align: right;
}
.span-two {
  grid-column: span 2;
}
